@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body {
  font-size: 15px;
}

/* 
@font-face {
  font-family: 'Inter_Regular';
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter_Bold';
  src: url('/fonts/Inter-Bold.ttf') format('trueType');
}
*/
